*{
  box-sizing: border-box;
 }
/* SemanticTags */
nav {
  display: flex;
  flex-direction: row;
  border: solid;
  align-items: stretch;
  justify-content: space-between;
  
}
/* Navagation display */
.welcome-wrapper {
 width: 19rem;
 border:1.5px solid purple;
 display: flex;
 justify-content: center;
}

.user-wrapper {
margin-left: 8px;
}

.nav-btns-wrapper {
  border: 2px solid black;
  width: 35rem;
  margin-top: 1rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
      /* align-content: stretch; */
}