body {
  /* background-color: blueviolet; */
}

.specific-recipe-img {
  width: 380px;
  padding: 30px;
  margin-top: -7px;
}

/* div {
  border: 1px;
  border-style: solid;
} */

.specific-recipe-heading {
  margin-left: 30px;
  margin-bottom: 4px;
}

.save-button {
  margin-left: 30px;
  margin-bottom: 20px;
}

.specific-recipe-display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}