/* colors:
 red = rgb(150, 53, 35) 
 brown =  rgb(87, 36, 31);
 green = rgb(156,126,68)
 beige = rgb(255, 227, 171)
 light green = rgb(146,146, 112)
 */

/* font-family: 'Abril Fatface', cursive;
 font-family: 'Playball', cursive;
 font-family: 'Playfair Display', serif; */

html {
  height: 100%;
}

body {
  font-family: "Playfair Display", serif;
  background-image: url("./images/paper.png");
  background-color: rgb(243, 199, 126);
  margin: 0;
}

button {
  cursor: pointer;
  height: 5vh;
  width: 10vw;
  font-size: 100%;
  background-color: rgb(255, 227, 171);
  border: solid rgb(150, 53, 35);
  border-radius: 5%;
  color: rgb(87, 36, 31);
  margin-top: 1%;
  margin-bottom: 1%;
}

input,
select {
  height: 4vh;
  width: 20vw;
  font-size: 1.5vw;
}
/* Navagation display */
nav {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  border: solid rgb(87, 36, 31);
  background-color: rgb(156, 126, 68);
}

.nav-btns-wrapper {
  width: 100vw;
  margin: 1vw;
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.current-page-button {
  background-color: rgb(150, 53, 35);
  color: rgb(255, 227, 171);
  border-color: rgb(255, 227, 171);
}

/* HomePage */
#title {
  align-self: flex-start;
  font-size: 15vh;
  font-family: "Abril Fatface", cursive;
  width: 80vw;
  margin-top: 1%;
  margin-left: 3%;
  color: rgb(255, 227, 171);
  letter-spacing: 8px;
  text-shadow: -3px 3px 0 rgb(87, 36, 31), 3px 3px 0 rgb(87, 36, 31),
    3px -3px 0 rgb(87, 36, 31), -3px -3px 0 rgb(87, 36, 31);
}

.circle {
  opacity: 75%;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    circle,
    var(--circle-0) 16% 30%,
    var(--circle-1) 16% 40%,
    var(--circle-2) 16% 50%,
    var(--circle-3) 33% 60%,
    var(--circle-4) 33% 70%,
    var(--circle-5) 16% 80%,
    var(--circle-6) 66% 90%,
    var(--circle-7) 16% 100%
  );
  z-index: -1;
  position: fixed;
  background-repeat: repeat-x;
  background-size: 150%;
  background-position: left;
}
:root {
  --circle-0: hsla(40, 100%, 84%, 1);
  --circle-1: hsla(40, 39%, 44%, 1);
  --circle-2: hsla(60, 13%, 51%, 1);
  --circle-3: hsla(9, 62%, 36%, 1);
  --circle-4: hsla(40, 39%, 44%, 1);
  --circle-5: hsla(5, 47%, 23%, 1);
  --circle-6: hsla(40, 100%, 84%, 1);
  --circle-7: hsla(60, 13%, 51%, 1);
}

.homepage-area {
  display: flex;
  flex-direction: column;
  height: 91vh;
  background-image: url("./images/Asset1.png");
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: bottom;
  background-size: 68vh;
  position: relative;
  z-index: auto;
}

/* About Page section */

.about-page {
  display: flex;
  flex-direction: column;
  margin: 3%;
  background-image: url(/src/images/turing-logo.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: 10%;
}

.about-paragraph {
  display: flex;
  justify-content: center;
  border: 2px solid rgb(150, 53, 35);
  background-color: rgb(255, 227, 171);
}

#about {
  width: 120vw;
  text-align: center;
  font-size: 120%;
  padding: 0.5%;
  color: rgb(87, 36, 31);
}

.authors {
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: space-evenly;
  margin-top: 1%;
}

.profile {
  display: flex;
  flex-direction: row;
  margin-left: 2%;
}

.profile-picture {
  height: 12vh;
  width: auto;
  border-radius: 50%;
  border: 2px solid black;
}

.github {
  margin-left: 2%;
  margin-top: 3%;
  font-size: 150%;
  color: rgb(87, 36, 31);
}
/*  Specific Recipe  section  */
.specific-recipe-img {
  width: 20vw;
  padding: 2%;
  margin-top: 5%;
  margin-left: 12%;
  background-color: rgb(87, 36, 31);
}

.specific-recipe-info {
  margin-left: 5%;
  margin-right: 5%;
  color: rgb(87, 36, 31);
}

.specific-recipe-heading {
  font-family: "Abril Fatface", cursive;
  margin-left: 3%;
  margin-bottom: 1%;
  color: rgb(87, 36, 31);
}

.save-button {
  margin-top: 1%;
  margin-left: 3%;
  margin-bottom: 1%;
}

.recipe-saved-text {
  margin: 3%;
  font-size: 1.5vw;
  color: rgb(87, 36, 31);
}

.button-save-alert-layout {
  display: flex;
  align-items: center;
}

.specific-recipe-display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.specific-recipe-ingredients-and-cook-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.specific-recipe-cook-area {
  width: 470px;
  margin-right: 50px;
}

.cook-area-heading {
  font-style: italic;
}

.cook-button {
  background-color: rgb(146, 146, 112);
  border: solid rgb(255, 227, 171);
  color: rgb(255, 227, 171);
  font-size: 1.2vw;
}

/* ~~~ All Recipe/Saved Pages CSS ~~~ */
.all-recipes-main {
  height: 100vh;
}

.page-title,
.user-pantry-title {
  font-family: "Playball", cursive;
  font-size: 5vw;
  color: rgb(150, 53, 35);
  text-shadow: -1px 1px 0 rgb(255, 227, 171), 1px 1px 0 rgb(255, 227, 171),
    1px -1px 0 rgb(255, 227, 171), -1px -1px 0 rgb(255, 227, 171);
  margin-left: 2%;
}

.display-thumbnails-filter-dropdown {
  display: flex;
  justify-content: space-between;
}

.all-recipe-thumbnails {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.single-recipe-thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 2vh;
  margin-bottom: 1vh;
  background-color: rgb(255, 227, 171);
  color: rgb(87, 36, 31);
  border: solid 5px rgb(87, 36, 31);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.single-recipe-img {
  width: 17vw;
  height: 15vw;
  cursor: pointer;
}

.single-recipe-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 14vw;
  text-align: center;
}

.delete-recipe {
  cursor: pointer;
}

.error-message {
  font-size: 150%;
  margin-left: 5%;
  margin-top: -2%;
  width: 30vw;
  background-color: rgb(255, 227, 171);
  border: solid 2px rgb(150, 53, 35);
  padding: 5%;
}

.recipe-title-text {
  font-size: 1vw;
  cursor: pointer;
}

.filter-by-tag-display {
  margin-left: 5vw;
  margin-right: 5vw;
  cursor: pointer;
  width: max-content;
}

.label-for-select-a-tag {
  white-space: nowrap;
  font-size: 1.5vw;
  margin-bottom: 1vh;
}

.list-of-tag-options {
  cursor: pointer;
}
.transparent {
  opacity: 0.2;
}
.meal-ready {
  color: rgb(150, 53, 35);
  font-size: large;
}

/* User Pantry */

.user-pantry {
  display: flex;
  justify-content: space-around;
  margin-top: 1%;
}

.user-pantry-ingredients {
  width: 50vw;
}

.user-pantry-title {
  margin-top: 3%;
  margin-bottom: 3%;
}

.form-title {
  text-align: center;
}

.ingredients-form {
  display: flex;
  background-color: rgb(104, 83, 43);
  border: solid 5px rgb(87, 36, 31);
  padding: 2%;
  flex-direction: column;
  margin-top: 10%;
  margin-right: 5%;
  color: rgb(255, 227, 171);
  align-items: center;
  height: 50vh;
  font-size: 115%;
}

#submit-ingredient-button {
  background-color: rgb(87, 36, 31);
  color: rgb(255, 227, 171);
  border: solid 2px rgb(243, 199, 126);
  border-radius: 5px;
}

.ingredient-list {
  font-size: 150%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: rgb(87, 36, 31);
}

/* ~~End All/Saved Recipes CSS ~~ */
.hide {
  display: none;
}
