/* SemanticTags */
body {
  background-color: blueviolet;
}
nav {
  border: 2px solid black; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Navigation Bar */
.welcome-User {
  border:2px solid white;
  width: 32%;
  display: flex;
  justify-content: center;
}

.menu-wrapper {
  border: solid white;
  width: 53%;

}

